body{
    background-color: #2d2d2d;

    padding: 0;
    margin: 0;


}


/*Background and layout*/
#container{
    display: flex;
    height: 100vh;
    width: 100vw;

    background-color: black;

    flex-direction: column;

    justify-content: space-between;
}

#header{
    background-color: black;
    /*flex: 2 1 0;*/

    min-height: 250px;
}

#projectHeader{
    background-color: black;
    /*flex: 2 1 0;*/

    min-height: 225px;
}

#projectHeader2{
    background-color: black;
    /*flex: 2 1 0;*/

    min-height: 250px;
}

#landingHeader{
    background-color: black;
    /*flex: 2 1 0;*/

    min-height: 150px;
}

#navigationDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;


    height: auto;




    align-items: center;
    /*margin-left: 25%;*/
}

#landingmain{
    display: flex;
    flex-direction: row;
    justify-content: center;


    height: auto;



    /*margin-left: 17%;*/
    /*margin-bottom: 30%;*/
    /*align-items: center;*/

}

#aboutMeMain{
    height: auto;

    /*align-items: center;*/
    margin-left: 5%;
}

.projectsMain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;


    height: auto;
    /*padding: 150px;*/

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px ;
    padding-bottom: 20px;

    align-items: center;

}

.portfolioContentMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    height: auto;

    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

}

#footer{
    background-color: black;

    min-height: 100px;

}

.infoBox{
    width: 200%;
    margin-top: 50px;
}

#TextBox{
    background-color: rgba(124, 124, 124, 0.5);
    border-radius: 25px;

    height: 500px;
    width: 700px;
    padding: 10px;

    /*margin-left: 25%;*/
}





/*project tiles, and animation*/

.projectTile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;

    padding:50px;

    transition-duration: 0.4s;
    /*background-color: white;*/
}

.projectHover{
    filter: drop-shadow(1px 0px 4px #000000);
}

.projectHover:hover{
    filter: drop-shadow(1px 25px 20px #000000);
    height: 405px;
    width: 405px;


}




/*Fonts*/
.font{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
}

.projectFont{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
}

.aboutmefont{
    font-family: "Press Start 2P";
    color: white;
    text-align: left;
}

.infoFont{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
    font-size: xx-small;
}

.firstfont{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
}



/*buttons and button animations*/
#button{
    display: none;
    background-color: grey;

    width: 170px;
    height: 50px;
    text-align: center;

    margin-top: 20%;
    margin-left: 40%;
}

.navigationButtons{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;


    background-color: #2d2d2d;
    color: black;


    padding-bottom: 50px;


    transition-duration: 0.4s;
    cursor: pointer;

    border: none;
    width: 200px;
    height: 50px;

}

.contactButton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;


    padding-bottom: 50px;
    margin-top: 20px;
    margin-left: 20px;

    background-color: #2d2d2d;
    color: black;

    transition-duration: 0.4s;
    cursor: pointer;

    border: none;
    width: auto;
    height: 50px;
}

.buttonHover{
    background-color: black;
    color: black;
    border-color:white ;
}

.buttonHover:hover{
    background-color: #2d2d2d;
    border: 5px solid #232323;

}

.buttonFont{
    font-family: "Press Start 2P";
    color: white;
}


/*image slideshow*/
.slideShowContainer{
    display: flex;
    justify-content: center;

    max-width: 500px;

    flex-wrap: wrap;
    /*margin-left: 10%;*/
}

div.OtherSlideShowContainer{
    position: sticky;


    top: 5%;
}

.OtherSlideShowContainer{
    float: right;
    /*min-width: 50vw;*/

    margin-top: 20px;
}

.mySlides{
    display: none;
}

.imageStyle{
    min-width: 50vw;
    /*max-height: 150%;*/
    border: 5px solid darkslategray;
}

.imageStyleME{
    min-width: 35vw;
    /*max-height: 90%;*/
    border: 5px solid   darkslategray;

    position: sticky;

    margin-bottom: 20px;
    margin-right: 50px;


}


/*animation overwriting*/
.customSlideshowSpeed.w3-animate-left{
    animation: 1.6s ease 0s normal none 1 running animateleft;
}

.customSlideshowSpeed.w3-animate-right{
    animation: 1.6s ease 0s normal none 1 running animateright;
}


/*Boarding Buccaneers boat images*/
.boatTile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 650px;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;

    padding:50px;

    transition-duration: 0.4s;
    /*background-color: white;*/
}

.boatHover{
    filter: drop-shadow(1px 0px 4px #000000);
}

.boatHover:hover{
    filter: drop-shadow(1px 25px 20px #000000);
    width: 650px;
    height: 300px;


}


/*Project Boxes*/
.aboutMeBox{
    float: left;
    max-width: 50vw;


    height: auto;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

    background-color: rgba(124, 124, 124, 0.5);
    border-radius: 25px;
}

.aboutProjectsBox{
    float: left;
    width: 700px;

    height: auto;

    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;

    background-color: rgba(124, 124, 124, 0.5);
    border-radius: 25px;
}


/*Project Images*/
.projectImages{
    width: 600px;
    height: 400px;

    border:5px solid darkslategray;
}



/*Project Covers are assigned here*/
#boardingBucsCover{
    background-image: url("../img/covers/BoardingBucsCover.png");
    background-repeat: no-repeat;
}

#blackJackCover{
    background-image: url("../img/covers/BlackJackCover.png");
    background-repeat: no-repeat;
}

#fpsCover{
    background-image: url("../img/covers/FPSCover.png");
    background-repeat: no-repeat;
}

#WebsShopAssignmentCover{
    background-image: url("../img/covers/WebShopCover.png");
    background-repeat: no-repeat;
}




/* dd container */
.dropdown {
    display: inline-block;
    position: relative;
    outline: none;
    margin: 10px;
}

/* button */
.dropbtn {
    padding: 12px 16px;

    margin-top: 20px;
    margin-left: 5%;
    color: #ffffff;
    font-family: "Press Start 2P";
    background-color: #000000;
    cursor: pointer;
    transition: 0.35s ease-out;
}

/* dd content */
.dropdown .dropdown-content {
    position: absolute;
    top: 50%;
    background-color: #000000;
    min-width: 120%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s ease-out;
}
.dropdown-content a {
    background-color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    font-family: "Press Start 2P";
    color: white;

    transition: 0.35s ease-out;
}
.dropdown-content a:hover {
    background-color: #2d2d2d;
}

/* show dd content */
.dropdown:focus .dropdown-content {
    outline: none;
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
}
.dropbtn:hover, .dropdown:focus .dropbtn {
    background-color: #2d2d2d;
}

/* mask to close menu by clicking on the button */
.dropdown .db2 {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
    cursor: pointer;
    z-index: 10;
    display: none;
}
.dropdown:focus .db2 {
    display: inline-block;
}
.dropdown .db2:focus .dropdown-content {
    outline: none;
    visibility: hidden;
    opacity: 0;
}


/*media Query*/
@media screen and (max-width: 1024px){

    #landingmain{
        display: flex;
        flex-direction: row;
        justify-content: center;


        height: auto;



        margin-left: 17%;
        margin-bottom: 30%;
        align-items: center;

    }

    #aboutMeMain{
        height: auto;

        align-items: center;
        margin-left: 3%;
    }

    #TextBox{
        background-color: rgba(124, 124, 124, 0.5);
        border-radius: 25px;

        height: 300px;
        width: 300px;
        padding: 10px;
        margin-left: 0%;
        margin-right: 15%;
    }

    #head{
        font-size: small;
    }

    #head2{
        font-size: small;
    }

    #button{
        display: none;
        background-color: grey;

        width: 170px;
        height: 50px;
        text-align: center;

        margin-top: 25%;
        margin-left: 15%;
    }

    .firstfont{
        font-family: "Press Start 2P";
        color: white;
        text-align: center;
        font-size: small;
    }

    #header{
        background-color: black;
        /*flex: 4 1 0;*/
        height: 300px;
    }

    #projectHeader{
        background-color: black;
        /*flex: 2 1 0;*/

        min-height: 275px;
    }

    #projectHeader2{
        background-color: black;
        /*flex: 2 1 0;*/

        min-height: 275px;
    }

    #landingHeader{
        background-color: black;
        /*flex: 2 1 0;*/

        min-height: 250px;
    }

    .aboutMeBox{
        float: left;
        max-width: 90%;


        height: auto;

        margin-left: 5px;

        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;

        background-color: rgba(124, 124, 124, 0.5);
        border-radius: 25px;
    }

    .aboutmefont{
        font-family: "Press Start 2P";
        color: white;
        text-align: left;

        font-size: smaller;
    }

    .imageStyleME{
        max-width: 90%;
        max-height: 90%;
        border: 5px solid darkslategray;

        position: sticky;

        margin-left: 2%;
        margin-bottom: 5%;
    }

    .projectImages{
        width: 300px;
        height: 200px;
        /*margin-left: 10%;*/


        border:5px solid darkslategray;
    }

    .projectFont{
        font-family: "Press Start 2P";
        color: white;
        text-align: center;
        font-size: x-large;
    }

    .portfolioContentMain{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        height: auto;

        align-items: center;
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 2%;

    }

    .boatTile{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        width: 325px;
        height: 175px;
        margin-bottom: 10px;
        margin-top: 10px;

        padding:50px;

        transition-duration: 0.4s;
        /*background-color: white;*/
    }

    .boatHover{
        filter: drop-shadow(1px 0px 4px #000000);
    }

    .boatHover:hover{
        filter: drop-shadow(1px 12.5px 20px #000000);
        width: 325px;
        height: 175px;
    }

    .projectImages{
        min-width: 80vw;
        min-height: 30vh;

        border:5px solid darkslategray;
    }

    .projectTile{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        height: 300px;
        width: 300px;
        margin-bottom: 10px;
        margin-top: 10px;

        padding:50px;

        transition-duration: 0.4s;
        /*background-color: white;*/
    }

    .projectHover{
        filter: drop-shadow(1px 0px 4px #000000);
    }

    .projectHover:hover{
        filter: drop-shadow(1px 25px 20px #000000);
        height: 305px;
        width: 305px;


    }

    .aboutProjectsBox{
        float: left;
        width: 700px;

        height: auto;

        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 5%;
        margin-left: 5%;
        padding: 10px;

        background-color: rgba(124, 124, 124, 0.5);
        border-radius: 25px;
    }


    .navigationButtons{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;


        background-color: #2d2d2d;
        color: black;


        padding-bottom: 50px;
        margin-bottom: 10px;


        transition-duration: 0.4s;
        cursor: pointer;

        border: none;
        width: 200px;
        height: 50px;

    }

    .buttonHover{
        background-color: black;
        color: black;
        border-color:white ;
    }

    .buttonHover:hover{
        background-color: #2d2d2d;
        border: 5px solid #232323;

    }

    .buttonFont{
        font-family: "Press Start 2P";
        color: white;
    }

    .slideShowContainer{
        display: flex;
        justify-content: center;

        max-width: 250px;

        flex-wrap: wrap;

        /*margin-right: 30%;*/
        margin-left:  0%;

    }

    .mySlides{
        display: none;
    }

    .imageStyle{
        max-width: 150%;
        max-height: 150%;
        border: 5px solid darkslategray;

    }

    .customSlideshowSpeed.w3-animate-left{
        animation: 1.6s ease 0s normal none 1 running animateleft;
    }

    .customSlideshowSpeed.w3-animate-right{
        animation: 1.6s ease 0s normal none 1 running animateright;
    }


/*    Covers*/
    #boardingBucsCover{
        background-image: url("../img/covers/resizedCovers/BoardingBucsCover.png");
        background-repeat: no-repeat;


    }

    #blackJackCover{
        background-image: url("../img/covers/resizedCovers/BlackJackCover.png");
        background-repeat: no-repeat;
    }

    #fpsCover{
        background-image: url("../img/covers/resizedCovers/FPSCover.png");
        background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1993px){


    .aboutmefont{
        font-family: "Press Start 2P";
        color: white;
        text-align: left;

        font-size: x-large;
    }

    .projectFont{
        font-family: "Press Start 2P";
        color: white;
        text-align: center;
        font-size: xxx-large;
    }

    #footer{
        background-color: black;

        min-height: 200px;

    }

    .navigationButtons{

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;


        background-color: #2d2d2d;
        color: black;


        padding-bottom: 50px;


        transition-duration: 0.4s;
        cursor: pointer;

        border: none;
        width: 400px;
        height: 100px;

    }

    .contactButton{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;


        padding-bottom: 50px;
        margin-top: 20px;
        margin-left: 20px;

        background-color: #2d2d2d;
        color: black;

        transition-duration: 0.4s;
        cursor: pointer;

        border: none;
        width: auto;
        height: 100px;
    }

    .buttonHover{
        background-color: black;
        color: black;
        border-color:white ;
    }

    .buttonHover:hover{
        background-color: #2d2d2d;
        border: 5px solid #232323;

    }

    #projectHeader2{
        background-color: black;
        /*flex: 2 1 0;*/

        min-height: 350px;
    }

    .projectImages{
        min-width: 50vw;
        min-height: 60vh;

        border:5px solid darkslategray;
    }

    .buttonFont{
        font-family: "Press Start 2P";
        color: white;

        font-size: x-large;
    }

    .slideShowContainer{
        display: flex;
        justify-content: center;

        max-width: 1500px;

        flex-wrap: wrap;
        /*margin-left: 10%;*/
    }

    .infoFont{
        font-family: "Press Start 2P";
        color: white;
        text-align: center;
        font-size: small;
    }
}










/*New font*/
@font-face {
    font-family: 'Press Start 2P';
    src: url('../font/PressStart2P-Regular.woff') format('woff'),
    url('../font/PressStart2P-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}